.pdf-container {
	width: 100%;
	font-family: var(--secondary-font);
	color: var(--color-medium);
}

.pdf-container h3 {
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 1.2em;
}

.pdf-document > canvas {
	width: 100% !important;
	height: auto !important;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.pdf-container {
		width: 500px;
		min-height: 200px;
	}
}
