.home-page{
    height:100vh;
    max-height:100vh;
    overflow: hidden;
    z-index:0;
    position:absolute;
    top:0;
    background-image: url("https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067_960_720.png");
    background-position: center;
    background-size: cover;
}

.home-page h2{
    font-family:var(--main-font);
    font-weight: var(--font-heavy);
    font-size: 3.5em;
    color: var(--color-medium);
    width:100%;
    text-align:center;
    cursor: pointer;
}

.home-page h2:nth-last-child(odd){
    color:var(--color-light);
}

.home-page h2:nth-last-child(even){
    font-weight:bold;
}

.home-page a {
    color : inherit;
}

.home-page a:hover{
    text-decoration: none;
    color: var(--secondary-color);
}

@media screen and (min-width: 576px){
    .home-page h2{
        font-size: 5em;
        text-align:right;
    }
}