.contact h3,
.social h3,
.contact h4 {
	color: var(--color-medium);
	font-weight: var(--font-heavy);
	font-family: var(--secondary-font);
}

.contact h3 {
	font-size: 3em;
}

.contact h4,
.social h3 {
	font-size: 1.5em;
}

.social img {
	width: 40px;
	height: 40px;
	object-fit: scale-down;
}

.contact p {
	font-family: var(--main-font);
	color: var(--secondary-color-dark);
}

#contactForm .square {
	width: 15px;
	height: 15px;
	border: 2px solid var(--color-medium);
	transform: rotateZ(45deg);
	background: #fcb694;
	transition: 0.3s ease-in-out;
}

#contactForm .input-container {
	position: relative;
}

#contactForm input,
#contactForm textarea {
	border: none;
	box-shadow: 2px 2px 2px -2px #585864;
	transition: 0.3s ease-in-out;
	font-family: var(--secondary-font);
	color: var(--color-medium);
	font-style: italic;
}

#contactForm input:focus,
#contactForm textarea:focus {
	background: #c4bdba2e;
	outline: none;
	transition: 0.3s ease-in-out;
}

#contactForm input:focus ~ .square,
#contactForm textarea:focus ~ .square {
	transform: rotateZ(90deg);
	transition: 0.3s ease-in-out;
}

#contactForm textarea {
	min-height: 150px;
}

.form-error {
	background: #f814004f !important;
	border: 2px solid var(--secondary-color-dark) !important;
}

.form-error-label {
	position: absolute;
	bottom: -20px;
	left: 25px;
	font-size: 0.8em;
	color: #c03225 !important;
	font-style: italic;
}

#contactForm .button-project {
	display: inline-flex;
	height: 40px;
	width: 100%;
	font-weight: 600;
	color: var(--color-light);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.8em;
	letter-spacing: 1.5px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	font-family: var(--secondary-font);
	box-shadow: 2px 2px 1px -2px #585864;
	border: none;
	/* background: #c4bdba2e; */
	background: #fcb694;
}

#contactForm #underline {
	width: 0;
	height: 2.5px;
	margin-top: 15px;
	align-self: flex-end;
	left: -200px;
	background: var(--color-light);
	position: absolute;
	transition: all 0.3s ease-Out;
	bottom: 0;
}

#contactForm .button-project:hover #underline {
	left: 0;
	width: 100%;
}

@media (min-width: 575px) {
	#contactForm .button-project {
		width: 150px;
	}
}
