.nav-container {
	height: fit-content;
	/* min-height: 150px; */
	z-index: 11;
	transition: 0.3s ease-in-out;
}

.nav-background {
	background-image: var(--background);
	/* background: red; */
	background-size: cover;
	background-position: center;
	height: fit-content;
	transition: 0.3s ease-in-out;
	opacity: 1;
}

.menu {
	width: 100vw;
}

.menu li {
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 1em;
	text-transform: uppercase;
}

.menu li a {
	color: var(--color-light);
}

.menu li a:hover {
	color: var(--color-light);
}

.menu-item-active a {
	color: var(--complementary-color) !important;
	/* font-weight: var(--font-normal); */
	text-decoration: wavy;
}

@media screen and (min-width: 768px) {
	.nav-container {
		height: 100px;
	}
	.nav-background {
		background-size: fill;
		background-position: top;
	}
	.menu {
		width: 75%;
	}
	.menu li:last-of-type {
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		width: calc(var(--spacing-large) * 2.2);
		height: calc(var(--spacing-large) * 2.2);
		transform: 0.3s ease-in;
		background: black;
	}

	.menu li:last-of-type:hover {
		opacity: 1;
		transform: 0.3s ease-in;
	}
	.menu li:last-of-type a,
	.menu li:last-of-type a:hover {
		color: var(--color-light);
	}
}
